.EmailForm {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 35px;
    margin-bottom: 50px;
    float: right;
    width: 600px;
    clip: rect(0px, 501px, 111px, 0px);
}

#email {
    height: 10px;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto Mono', 'Courier', 'monospace';
    font-weight: 700;
    padding: 20px;
    background-color: transparent;
}

#paper-plane-div {
    position: absolute;
    margin-left: 15px;
}

#subscribe-text {
    color: #fff;
    font-family: 'Roboto Mono', Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding: 15px;
    padding-left: 0px;
}

#paper-plane, #paper-plane-div {
    height: 60px;
}

#email, #paper-plane-div {
    display: inline-block;
}

.box_expanded {
    width: 450px;
    animation: slideout 0.2s ease-in-out;
}

.box_compressed {
    width: calc(450px - 100px);
    animation: slidein 0.2s ease-in-out;
}

/* Compresses the box */
@keyframes slidein {
    from {
        width: 450px;
    }
    to {
        width: calc(450px - 100px);
    }
}

/* Extends the box */
@keyframes slideout {
    from {
        width: calc(450px - 100px);
    } to {
        width: 450px;
    }
}

::placeholder {
    font-family: 'Roboto Mono', 'Courier', 'monospace';
    font-weight: 300;
    font-size: 18px;
}