:root {
    --width-expanded: 350px;
    --width-compressed: 50px;
}


.EmailForm {
    clip: rect(0px, 401px, 111px, 0px);
}

@media (max-width: 1000px) {
    .EmailForm {
        position: relative;
        background: green;
        transform: scale(0.6, 0.6);
        margin-right: auto;
        margin-left: auto;
    }
}

#email {
    height: 10px;
    /* float: left; */
    border-style: solid;
    border-width: 5px;
    border-color: #fff;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto Mono', 'Courier', 'monospace';
    font-weight: 700;
    padding: 20px;
    background-color: transparent;
}

.paper-plane-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#subscribe-text {
    color: #fff;
    font-family: 'Roboto Mono', Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding: 15px;
    padding-left: 0px;
}

#paper-plane{
    height: 60px;
}

.textandform {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textform-n-button {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.form-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* #email, #paper-plane-div {
    display: inline-block;
} */

.box_expanded {
    width: var(--width-expanded);
    animation: slideout 0.2s ease-in-out;
}

.box_compressed {
    width: var(--width-compressed);
    animation: slidein 0.2s ease-in-out;
}

/* Compresses the box */
@keyframes slidein {
    from {
        width: var(--width-expanded);
    }
    to {
        width: var(--width-compressed);
    }
}

/* Extends the box */
@keyframes slideout {
    from {
        width: var(--width-compressed);
    } to {
        width: var(--width-expanded);
    }
}

/* ::placeholder {
    font-family: 'Roboto Mono', 'Courier', 'monospace';
    font-weight: 300;
    font-size: 18px;
} */