@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap');

.Footer {
    bottom: 0;
    background-color: #000;
    height: 145px;
    padding-top: 70px;
    padding-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left { 
    flex-direction: column;
}

.right {

}

.hae {

}

.footer-icon {
    height: 20px;
}

.social-box {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

/* .icon {
    padding-right: 25px;
    width: 20px;
}

.social {
    display: inline-block;
    padding-top: 20px;
}

#social-box {
    padding: 20px;
    padding-left: 40px;
    position: relative;
    top: 0;
    left: 0;
}

.footertext {
    color: #fff;
    font-family: 'Roboto Mono', Courier, monospace;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    padding-left: 40px;
    padding-top: 15px;
}

#dsoc-logo {
    position: absolute;
    padding: 30px;
    padding-right: 35px;
    height: 40px;
    top: 0;
    right: 0;
} */